body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: hsl(0, 0%, 100%);
}
header{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.background-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(300%);
}