*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(189, 240, 189);
    /* justify-content: center;
    align-items: center;
     */
}

#main{
    justify-content: center;
    align-items: center;
    display: flex;
}